.button {
  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-size: 4.5vw;

  button {
    font-weight: 600;
    font-size: 1em;
    margin: 2em 5% 1em 5%;
    width: 90%;
    background: #00a896;
    border-radius: 1em; 
    color: white;   
    padding: 0.7em;
    border: none;
  }
}

.header {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  height: 5vw;

  img {
    position: absolute;
    height: 5vw;
    cursor: pointer;
  }

  img:nth-child(2) {
    left: 7vw;
  }

  img:nth-child(3) {
    right: 0;
  }
}