.button {
  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-size: 4.5vw;

  button {
    font-weight: 600;
    font-size: 1em;
    margin: 2em 5% 1em 5%;
    width: 90%;
    background: #00a896;
    border-radius: 1em; 
    color: white;   
    padding: 0.7em;
    border: none;
  }
}