.container { 

  margin-top: 5vw;
  margin-bottom: 3vw;
  position: relative; 

  img {
    margin-left: 15%;
    margin-right: 15%; 
    width: 70%;
    height: 70vw;
  }

  img:nth-child(n + 2) {
    position: absolute;
    left: 0;
    top: 5vw;
    margin-left: 21%;
    margin-right: 21%; 
    width: 58%;
    height: 58vw;
  }
}
