.container {
  padding: 3% 5% 5% 5%;
  background: white;
  box-shadow: 0px 8px 16px rgba(75, 75, 124, 0.05);
  border-radius: 1em;  
}

.orderDescription {
  font-family: Ronded Mplus 1c;
  font-style: normal;
  font-size: 4vw;

  p {
    color: black;
    margin: 0% 5% 0% 5%;
    font-weight: 500;
    font-size: 1.5em;
  }

  div {
    color: #4b4b7c;
    margin: 0.7em 5% 0px 5%;
    font-weight: normal;
    font-size: 0.9em;
    height: 3em;
  }  
}