.orderDescription {
  font-family: Ronded Mplus 1c;
  font-style: normal;
  font-size: 4vw;

  p {
    color: black;
    margin: 0.5em 5% 0px 5%;
    font-weight: 500;
    font-size: 1.5em;
  }

  div {
    color: #4b4b7c;
    margin: 0.7em 5% 0px 5%;
    font-weight: normal;
    font-size: 0.9em;
    height: 3em;
  }  
}