.container {
  font-style: 400;
  font-size: 4vw;
  padding: 3% 5% 5% 5%;
  background: white;
  box-shadow: 0px 8px 16px rgba(75, 75, 124, 0.05);
  border-radius: 1em;  
}

.header {
  color: #4b4b7c;
  font-size: 0.9em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .date {
    color: #8181B1;
  }
}

.title {
  color: #1f1f33;
  font-weight: 500;
  font-size: 1.2em;
  margin-top: 1vw;
}

.description {
  color: #4b4b7c;
  margin: 0.7em 0 0 0;
  font-size: 0.9em;
  height: 3em;
  border-bottom: 0.5vw dashed #e1e1ed;
  padding-bottom: 2vw;  
}  

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9em;
  color: #4b4b7c;
  margin-top: 4vw;

  .status {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  img {
    height: 1.2em;
  }
  
  .delivering {
    color: #F3752B;
    margin-left: 2vw;
    font-weight: 500;
  }

  .repeat {
    color: #009485;
    margin-left: 2vw;
    font-weight: 500;
  }
}